.Entry td {
  position: relative;
}

.Entry.excess .balance,
.Entry.excess .excess
{
  color: red;
}

.Entry .right input {
  display: inline-block;
}

.Entry .day {
  width: 50px;
}

.Entry.auto .day {
  text-align: center;
}

.Entry input.amount {
  width: 150px;
  text-align: right;
}

.Entry .contribution {
  color: green;
}

.Entry .withdrawal {
  color: red;
}

.Entry .operations label {
  display: none;
}

.Entry.changed {
  background-color: yellow;
}

.Entry.messages {
  background-color: red;
}

.Entry .popover {
  min-width: 225px;
}

.Entry .popover .arrow {
  left: 30px;
}