.DropzoneContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.DropzoneContainer .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: '2.5em 0';
  background: 'rgba(255,0,0,0.5)';
  border: 10px black dashed;
  text-align: 'center';
  color: '#fff';
  z-index: 10000;
}

.DropzoneContainer .overlay p {
  text-align: center;
}