.App {
  margin: 15px;
}

.right {
  text-align: right;
}

#nprogress .bar {
  background: green;
}

#nprogress .peg {
  box-shadow: 0 0 10px green, 0 0 5px green;
}

#nprogress .spinner-icon {
  border-top-color: green;
  border-left-color: green;
}

.App .nav .dropdown {
  margin-top: 8px;
  margin-left: 0.5em;
}